<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConString" connectionString="Server=localhost;Database=SalesSystemDB; Integrated Security=SSPI;Trust Server Certificate=true;" providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>